h1{
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2{
  font-family: "effra", sans-serif;
  font-weight: 800 !important;
}

p{
  font-family: "effra", sans-serif;
}

.maxWidth{
  width: 100%;
}

#firstLanding{
  display: inline-block;
  height: 90vh;
}

#secondLanding{
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  display: inline-block;
  padding: 25px;
  height: 120px;
  width: 100%;
}

.headerLogo{
  cursor: pointer;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 80px;
  width: 200px;
}

.headerLogo:hover{
  filter: opacity(80%);
}

#phoneFrame{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

#blankScreen{
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(317deg, #e100ff, #7f00ff, #3600f3);
  display: block;
  margin-top: -515px;
  width: 230px;
  height: 485px;
}

#landingSlogan{
  color: #ffffff;
  margin: 0px;
  padding-top: calc((90vh - 520px) / 2);
  padding-bottom: calc((90vh - 520px) / 2);
  line-height: 100px;
  font-size: 80px;
  padding-left: 35px;
}

#appStoreButton{
  margin: 10px;
  cursor: pointer;
  height: 100px;
  width: 200px;
}

#appStoreButton:hover{
  filter: opacity(80%);
}

#landingImageHeader{
  padding-top: calc(45vh - 325px);
  margin-bottom: 0px;
  font-size: 40px;
  text-align: center;
  color: #000000;
}

#landingImageSubheader{
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
  color: #666666;
}

#brackotLink{
  line-height: 65px;
  font-size: 37px;
  text-align: left;
  float: left;
  color: #000000;
}

#brackotButton{
  border: none;
  background-color: rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 300px;
  margin-top: 5px;
  height: 50px;
  float: right;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
}

.fortyFivePercent{
  display: inline-block;
  float: left;
  width: 45%;
  height: 90vh;
}

.fiftyFivePercent{
  display: inline-block;
  float: left;
  width: 55%;
  height: 90vh;
}

.footerText{
  margin: 0px;
  font-size: 15px;
  display: inline-block;
  padding: 25px;
  color: #000000;
}

#copyrightText{
  font-weight: bold;
}

.legalPageContent{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.whiteBackground{
  background-color: #ffffff;
}

.lightBackground{
  background-color: #f0f0f0;
}

.darkBackground{
  background-color: #121212;
}

.animatedGradient {
  background: linear-gradient(30deg, #0059ff, #0084ff, #00c6ff);
  background-size: 600% 600%;

  -webkit-animation: all-star-blue 13s ease infinite;
  -moz-animation: all-star-blue 13s ease infinite;
  animation: all-star-blue 13s ease infinite;
}

/* ADMIN DASHBOARD STUFF */
#adminLoginForm{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#adminLoginInput{
  width: 280px;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 3px #7f00ff;
}

#adminLoginButton{
  background: none;
  color: #7f00ff;
  border: none;
  margin-left: -30px;
}

#adminLoginHeader{
  padding-top: 20vh;
  margin-bottom: 30px;
  font-size: 40px;
  text-align: center;
  color: #000000;
}

.adminBanHeader{
  padding-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  color: #000000;
}

.adminBanInput{
  width: 200px;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 3px #7f00ff;
}

.banForm{
  padding-left: 50px;
  padding-right: 50px;
}

.reportsTable{
  width: 100%;
  color: white;
  border: 2px solid white;
  margin: 20px;
}

.tableTitle{
  color: white;
  margin-left: 20px;
}

.tableHeaderRow{
  font-size: 20px;
}

.tableRow{
  font-size: 14px;
  border: 1px solid white;
}

.refreshButton{
  display: block;
  width: 200px;
  height: 30px;
  background: white;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  border: 2px solid rgba(0,0,0,0.3);
}



@media only screen and (max-width: 425px){
  .fortyFivePercent{
    height: 590px;
  }
  .fiftyFivePercent{
    padding-top: 10px;
  }
  #landingSlogan{
    line-height: 60px;
    font-size: 40px;
  }
  #secondLanding{
    display: none;
  }
  .footerText{
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: block;
  }
  .legalPageContent{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (max-width: 1250px){
  .fortyFivePercent{
    width: 100%;
  }
  .fiftyFivePercent{
    width: 100%;
  }
}

/*Below are the animation keyframes for the animated gradient background*/
@-webkit-keyframes all-star-blue {
    0%{background-position:78% 0%}
    50%{background-position:23% 100%}
    100%{background-position:78% 0%}
}
@-moz-keyframes all-star-blue {
    0%{background-position:78% 0%}
    50%{background-position:23% 100%}
    100%{background-position:78% 0%}
}
@keyframes all-star-blue {
    0%{background-position:78% 0%}
    50%{background-position:23% 100%}
    100%{background-position:78% 0%}
}
